
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}


.navbar {
    background-color: #303030;
    text-align: center;
}

.nav-item {

    display: inline-block;
}


.nav-item a {
    display: block;
    color: white;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}


.nav-item a:hover {
    background-color: #575757;
}
